.square{
    border-radius: 0%;
    border: 0.0625rem solid rgb(159, 122, 63);
    height: 3rem;
    width: 2rem;
    font-size: 0.5rem;
    color: #eee1c5;;
    font-family: 'Consolas';
    font-weight: bold;
    overflow: hidden;
}

.fishSquare {
  width: 5rem!important;
}
.balance{
  
  display: flex;

}
.onTime{
  background-color: #877962;
  color: #eee1c5;;
  /* opacity: 0.6; */
}
.onFishTime{
  background-color : rgba(37, 111, 45, 0.996) !important;
  color: #eee1c5;
}
.notOnTime{
  background-color: #ffffff2f;
  /* opacity: 0.6; */
}
.long-line {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.125rem; /* 竖线的宽度 */
  height: 110%; /* 比父级容器高度略高 */
  background-color: red; /* 竖线的颜色 */
  animation: moveRight 3s linear infinite; /* 设置动画效果，从左向右移动，持续时间为3秒，线性运动，无限循环 */
  }

  .fishtable{
    overflow: hidden; /* 隐藏超出父级容器的部分 */
    position: relative;
  }
  .time-tick {
    position: absolute;
    top: 0; /* 调整时间刻度的垂直位置 */
    left: 50%; /* 将时间刻度放置在容器水平中间 */
    transform: translateX(-50%); /* 将元素水平居中 */
    width: 0.125rem; /* 时间刻度的宽度 */
    height: 1.25rem; /* 时间刻度的高度 */
    background-color: #cd7f26; /* 时间刻度的颜色 */
  }
  @keyframes moveRight {
     
    100% {
      left: 53rem; /* 移动到右侧 */
    }
  }

  .fishName{
    font-size: 0.75rem; 
    font-weight: bold;
  }

  .searchTab { 
    place-content: center;
    text-align-last: center;
    padding-bottom: 0.0625rem;
    display: flex;
    align-items: center;
  }
  .statusMsg {
    font-size: 0.625rem; 
    font-weight: bold;
  }