#root {
  width: 1250px;
  margin: 0 auto; 
  padding: 3.5px;
  text-align: center; 
  color: #eee1c5;
  border-radius: 8px;
  box-shadow: inset 0 1px 1px 0 #cfc36e, inset 0 0 1px 0 hsla(53,50%,62%,.5), 0 0 1px 2px rgba(0,0,0,.5), 0 2px 2px 2px rgba(0,0,0,.5);
  background-color: #554121;
}

.card {
   
}

.read-the-docs {
  color: #888;
}
.drag {
 
}